$primary-color: #65D46E;
$secondary-color: #121212;
$text-color: #9e9e9e;
$text-color-white: #fff;
$bg-color: linear-gradient(
  to right,
  #0F0C10 0%,   /* Cor inicial */
  #121212 70%    /* Cor final */
);
$nav-color: linear-gradient(
  to right,
  rgba(18, 18, 18, 0) 0%,    /* Cor #121212 com opacidade 0% no início */
  rgba(18, 18, 18, 0.8) 15%,  /* Cor #121212 com opacidade 80% aos 15% do gradiente */
  rgba(18, 18, 18, 1) 40%     /* Cor #121212 com opacidade 100% aos 40% do gradiente */
);
$radius: 20;
